body {
    background-color:  #0F0616;
    color: #ccc; /* Grayish text color */
    font-family: 'Menlo', monospace;
    margin-top: 130px;
}

header, section, footer {
  margin: 20px auto; /* Centered with auto left and right margins */
  max-width: 650px; /* Set your desired maximum width */
}

h1, h2 {
    color: white;
}

h1 {
    font-size: 33px;
    font-family: 'Menlo', monospace;
}

h2 {
    font-size: 33px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
    font-size: 15px;
}

footer {
    margin-top: 50px;
    font-size: 15px;
}
.line {
    border-top: 1px solid white;
    width: 25mm;
    margin-top: 5px; /* Adjust the margin as needed */
  }
  footer {
    color: #ccc;
  }
  
  /* Add this style for the links in the footer */
  footer a {
    color: #ccc;
    text-decoration: none; /* Optional: Remove underline */
  }
  
  /* Add this style for the links on hover (optional) */
  footer a:hover {
    text-decoration: underline; /* Optional: Add underline on hover */
  }  
  /* Add this style for the links in the writings section */
#writings a {
    color: #ccc; /* Adjust the color as needed */
    text-decoration: none; /* Optional: Remove underline */
    text-decoration: underline; /* Add static underline to the links */
    text-decoration-skip-ink: auto; /* Add space between text and underline */
  }

  .social-icons a[href^="mailto"] i {
    color: #fff; /* You can replace this with your desired color code for white */
  }
  
  /* Change the color of the LinkedIn icon to white */
  .social-icons a[href*="linkedin.com"] i {
    color: #fff; /* You can replace this with your desired color code for white */
  }
  .social-icons a[href*="twitter.com"] i {
    color: #fff; /* Replace with your desired color code for white */
  }
  
  /* Change the color of the LinkedIn icon to white */
  .social-icons a[href*="github.com"] i {
    color: #fff; /* Replace with your desired color code for white */
  }
  .social-icons a[href*="medium.com"] i {
    color: #fff; /* Replace with your desired color code for white */
}
  .social-icons a {
    margin-right: 15px; /* Adjust the right margin to control the spacing between icons */
  }
  
  /* Optional: Add margin to the last icon to avoid extra spacing after the last icon */
  .social-icons a:last-child {
    margin-right: 0;
  }
  #writings a {
    color: #ccc; /* Adjust the color as needed */
    text-decoration: none; /* Remove default underline */
    position: relative;
    line-height: 1.5;
  }
  
  #writings a::after {
    content: "";
    display: block;
    width: 100%;
    border-bottom: 1px solid #ccc; /* Adjust the color and thickness as needed */
    position: absolute;
    bottom: -2px; /* Adjust the distance from the text */
  }

#writings a:hover::after {
  border-bottom: 1px solid white; /* Adjust the color on hover as needed */
}

  #projects li {
    margin-bottom: 15px; /* Adjust the margin-bottom for spacing between lines */
    font-size: 15px;
    line-height: 1.5; /* Adjust the line height for better spacing */
    text-decoration-skip-ink: auto; /* Add space between text and underline */
}

#projects li a {
  color: #ccc; /* Adjust the color as needed */
  text-decoration: none; /* Remove default underline */
  position: relative;
}

#projects li a::after {
  content: "";
  display: block;
  width: 100%;
  border-bottom: 1px solid #ccc; /* Adjust the color and thickness as needed */
  position: absolute;
  bottom: -2px; /* Adjust the distance from the text */
}

#projects li a:hover::after {
  border-bottom: 1px solid white; /* Adjust the color on hover as needed */
}
